<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Auto Cosnscience</title>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />	
		
		<!--SEO PART -->
        <meta name="description" content="">
        <meta name="keywords" content="Cars, Good Driver, Bad Driver, Plate Number, Lisence, Conduction Sticker">
        <meta name="author" content="">
	</head>
	<body>
		<div class=header>
			<div class=container>
				<h1 id="tagline">Be the conscience of traffic</h1>

				<img src="../public/images/cityscape.png" id="cityscape" alt="Mountain View">
				</div>
		</div>
		<section id="site-story">
			<div class="panel1">
				<p> When you do something <br> 
					for someone<br/>
					they say</p>
			</div>

			<div class="panel2">
				<p>But that doesnt happen on the road</p>
				<p>Let someone into your lane... <br/> </p>
			</div>

			<div class="panel3">
				<p> Drivers in our city seem <br/> 
					to reward  the aggressive and <br/>
					the undisciplined
				</p>
			</div>

			<div class="panel4">
				<p> Bad drivers simply don't<br/>
					care about others <br/>
					around them
				</p>
			</div>

			<div class="panel5">
				<p> You<br/> 
					can<br/> 
					help<br/> 
				</p>
				<p> upgrade<br/> 
					drivers<br/> </p>
				<p> let's show that we care about<br/> how the road is shared<br/> </p>
			</div>

			<div class="panel6">
				<p> say thanks for good<br/> 
				driving behaviour and<br/>
				 encourage better driving<br/>
				 </p>
			</div>

			<div class="panel7">
				<p> send bad drivers red cars <br/> 
					and let them know their driving has consequences 
				</p>
			</div>

			<div class="panel8">
				<p>panel 8 panel 8 panel 8</p>
			</div>
		</section>
	</body>
</html>