doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Auto Cosnscience
    link(rel='stylesheet', type='text/css', href='../stylesheets/style.css')
    // SEO PART
    meta(name='description', content='')
    meta(name='keywords', content='Cars, Good Driver, Bad Driver, Plate Number, Lisence, Conduction Sticker')
    meta(name='author', content='')
  body
    .header
      .container
        h1#tagline Be the conscience of traffic
        img#cityscape(src='../images/cityscape.png', alt='Mountain View')
    section#site-story
      .panel1
        p
          | When you do something 
          br
          | 					for someone
          br
          | 					they say
      .panel2
        p But that doesnt happen on the road
        p
          | Let someone into your lane... 
          br
      .panel3
        p
          | Drivers in our city seem 
          br
          | 					to reward  the aggressive and 
          br
          | 					the undisciplined
      .panel4
        p
          | Bad drivers simply don't
          br
          | 					care about others 
          br
          | 					around them
      .panel5
        p
          | You
          br
          | 					can
          br
          | 					help
          br
        p
          | upgrade
          br
          | 					drivers
          br
        p
          | let's show that we care about
          br
          |  how the road is shared
          br
      .panel6
        p
          | say thanks for good
          br
          | 				driving behaviour and
          br
          | 				 encourage better driving
          br
      .panel7
        p
          | send bad drivers red cars 
          br
          | 					and let them know their driving has consequences
      .panel8
        p panel 8 panel 8 panel 8
