doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Auto Cosnscience
    link(rel='stylesheet', type='text/css', href='../public/stylesheets/style.css')
    // SEO PART
    meta(name='description', content='')
    meta(name='keywords', content='Cars, Good Driver, Bad Driver, Plate Number, Lisence, Conduction Sticker')
    meta(name='author', content='')
  body
